@charset "utf-8"; /* reset */
html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 display-role reset for older browsers */
body,html {
    width: 100%;
    height: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
    vertical-align: top;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input,button,a,select,option {
    font-family: inherit;
    font-size: inherit;
}

input[type="checkbox"] {
    border: none !important;
}

/* for lte IE10 */
input[type="radio"] {
    border: none !important;
}

/* for lte IE10 */
/* common */
body,html {
    font-family: 'Nanum', sans-serif;
    font-size: 14px;
    letter-spacing: -1px;
    color: #333;
}

.wrap-sub-container .clearFix {
    *zoom:1;}

.wrap-sub-container .clearFix:after {
    content: "";
    display: block;
    clear: both;
}

.wrap-sub-container .hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

.wrap-sub-container input[type="text"], .wrap-sub-container input[type="password"], .wrap-sub-container textarea {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.wrap-sub-container select {
    padding: 3px 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.wrap-sub-container button {
    line-height: 1em;
}

.wrap-sub-container .w100p {
    width: 100%;
}

.wrap-sub-container .h100p {
    height: 100%;
}

.wrap-sub-container .h300 {
    height: 300px;
}

.wrap-sub-container .mt-5 {
    margin-top: 5px;
}

.wrap-sub-container .mt-10 {
    margin-top: 10px;
}

.wrap-sub-container .mt-15 {
    margin-top: 15px;
}

.wrap-sub-container .mt-25 {
    margin-top: 25px;
}

.wrap-sub-container .mb-5 {
    margin-bottom: 5px !important;
}

.wrap-sub-container .mb-10 {
    margin-bottom: 10px
}

.wrap-sub-container .mb-15 {
    margin-bottom: 15px;
}

.wrap-sub-container .mb-25 {
    margin-bottom: 25px;
}

.wrap-sub-container .mr-20 {
    margin-right: 20px;
}

.wrap-sub-container .mr-50 {
    margin-right: 50px;
}

.wrap-sub-container .pl-5 {
    padding-left: 5px;
}

.wrap-sub-container .pl-10 {
    padding-left: 10px;
}

.wrap-sub-container .pl-15 {
    padding-left: 15px;
}

.wrap-sub-container .ta-r {
    text-align: right;
}

.wrap-sub-container .ta-l {
    text-align: left;
}

.wrap-sub-container .ta-c {
    text-align: center;
}

.wrap-sub-container .btn-down {
    font-size: 14px;
    color: #397dbe;
    text-decoration: underline;
}

.wrap-sub-container .btn-gray {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #878787;
}

.wrap-sub-container .btn-blue {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #1365a3;
}

.wrap-sub-container .btn-green {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #379032;
}

.wrap-sub-container .btn-sky {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #3ca0de;
}

.wrap-sub-container .btn-orange {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #ff8400;
}

.wrap-sub-container .call-popup {
    color: inherit;
}

.wrap-sub-container .area-btn {
    margin: 10px 0;
}

.wrap-sub-container .ta-r button {
    margin-left: 5px;
}

.wrap-sub-container .ta-l button {
    margin-right: 5px;
}

.wrap-sub-container .addition {
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
    line-height: 1.5em;
}

.wrap-sub-container .text-blue {
    font-weight: bold;
    color: #336fb5;
}

.wrap-sub-container .condition-orange {
    padding: 5px 15px;
    font-size: 12px;
    color: #fff;
    background-color: #ff8400;
}

.wrap-sub-container .condition-black {
    padding: 5px 15px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}

.wrap-sub-container .table-hoz {
    width: 100%;
    border-top: 2px solid #44446f;
    text-align: center;
    color: #666;
}

.wrap-sub-container .table-hoz th {
    padding: 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: #f2f2f5;
    white-space: nowrap;
}

.wrap-sub-container .table-hoz th:first-child {
    border-left: none;
}

.wrap-sub-container .table-hoz td {
    padding: 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.wrap-sub-container .table-hoz td:first-child {
    border-left: none;
}

.wrap-sub-container .table-hoz a {
    width: 100%;
    text-align: left;
}

.wrap-sub-container .table-select {
    width: 100%;
    border-top: 2px solid #0a4683;
    color: #666;
    text-align: center;
}

.wrap-sub-container .table-select th {
    padding: 10px 15px;
    background-color: #f2f2f5;
    border-left: 1px solid #dcdce4;
    border-bottom: 1px solid #dcdce4;
    font-weight: bold;
    white-space: nowrap;
}

.wrap-sub-container .table-select th:first-child {
    border-left: none;
}

.wrap-sub-container .table-select td {
    padding: 10px 15px;
    border-left: 1px solid #dcdce4;
    border-bottom: 1px solid #dcdce4;
}

.wrap-sub-container .table-select td:first-child {
    border-left: none;
}

.wrap-sub-container .table-select tr:hover td {
    background-color: #eef1f9;
}

.wrap-sub-container .table-select a {
    display: inline-block;
    width: 100%;
    color: #666;
    text-align: left;
}

.wrap-sub-container .back-gray {
    background-color: #f4f4f4;
}

.wrap-sub-container .title-table {
    color: #666;
    font-weight: bold;
    background-color: #eef1f9;
}

.wrap-sub-container {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}

.wrap-sub-container span {
    font-weight: normal;
}

/* ---------------------------------------------------- for moblie  ------------------------------------------------------------------- */
@media only screen and (max-width: 640px) {
    /* common */ .wrap-sub-container .mobile-hidden {
        display:none;
    }

    .wrap-sub-container .m-w50 {
        width: 50px;
    }

    .wrap-sub-container .m-w80 {
        width: 80px;
    }

    .wrap-sub-container .m-w100 {
        width: 100px;
    }

    .wrap-sub-container .m-w120 {
        width: 120px;
    }

    .wrap-sub-container .m-w30p {
        width: 30%;
    }

    .wrap-sub-container .m-w85p {
        width: 85%;
    }

    .wrap-sub-container .m-w100p {
        width: 100% !important;
    }

    .wrap-sub-container .m-h414 {
        height: 414px;
    }

    .wrap-sub-container .m-noBorder-l {
        border-left: none !important;
    }

    /* layout */
    .wrap-sub-container .lnb {
        position: relative;
        width: 100%;
    }

    .wrap-sub-container .sub-content {
        position: relative;
        padding: 30px 15px 20px;
        min-height: 600px;
    }

    /* wrap-sub-container */
    .wrap-sub-container .lnb h1 {
        margin: 0;
        padding: 15px;
        font-size: 20px;
        color: #fff;
        text-align: center;
        background-color: #336fb5;
        line-height: 1em !important;
    }

    .wrap-sub-container .lnb>ul {
        border: 1px solid #dcdcdc;
        border-bottom: none;
        border-right: none;
    }

    .wrap-sub-container .lnb>ul>li {
        border-bottom: 1px solid #dcdcdc;
    }

    .wrap-sub-container .lnb>ul>li>a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        line-height: 46px;
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .wrap-sub-container .lnb>ul>li.current>a {
        color: #336fb5;
    }

    .wrap-sub-container .lnb ul ul {
        padding: 15px 20px;
        border-top: 1px solid #dcdcdc;
    }

    .wrap-sub-container .lnb ul ul a {
        width: 100%;
        padding: 0 11px;
        box-sizing: border-box;
        line-height: 22px;
        font-size: 13px;
        color: #666;
    }

    .wrap-sub-container .lnb ul ul li.current a {
        color: #336fb5;
    }

    .wrap-sub-container .lnb h4 {
        padding-left: 16px;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #525252;
        background: url("../../img/eios/sub_img/img_h4.png") no-repeat left center;
    }

    .wrap-sub-container .btn-openDepth {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        height: 20px;
        border: 1px solid #dcdcdc;
        background: url("../../img/eios/sub_img/btn_open_m.png") no-repeat center center;
        background-size: 12px 12px;
        background-color: #fff;
        text-indent: -9999px;
    }

    .wrap-sub-container .btn-openDepth.on {
        background: url("../../img/eios/sub_img/btn_open_close_m.png") no-repeat center center;
        background-size: 12px 12px;
        background-color: #fff;
    }

    .wrap-sub-container .sub-content {
        border-left: 1px solid #dcdcdc;
    }

    .wrap-sub-container .sub-content h2 {
        margin-bottom: 21px;
        font-size: 31px;
        font-weight: bold;
        color: #292929;
    }

    .wrap-sub-container .sub-content h3 {
        padding-left: 26px;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
        background: url("../../img/eios/sub_img/img_h3_m.png") no-repeat left center;
        background-size: 13px 13px;
    }

    .wrap-sub-container .sub-content h4 {
        padding-left: 16px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #525252;
        background: url("../../img/eios/sub_img/img_h4_m.png") no-repeat left center;
        background-size: 10px 10px;
    }

    .wrap-sub-container .singlebox {
        padding: 5px 10px;
        margin-bottom: 25px;
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
        font-size: 14px;
        background-color: #f4f4f4;
    }

    .wrap-sub-container .singlebox table {
        width: 100%;
        color: #666;
    }

    .wrap-sub-container .singlebox table tr:after {
        content: "";
        display: block;
        clear: both;
    }

    .wrap-sub-container .singlebox table th {
        float: left;
        width: 35%;
        box-sizing: border-box;
        padding: 2px 10px;
        line-height: 36px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .wrap-sub-container .singlebox table td {
        float: left;
        width: 65%;
        box-sizing: border-box;
        padding: 2px 0;
        line-height: 36px;
    }

    .wrap-sub-container .singlebox select, .wrap-sub-container .singlebox input[type="text"] {
        padding: 8px 10px;
        line-height: 1em;
    }

    .wrap-sub-container .substance {
        padding: 5px;
        border-top: 2px solid #44446f;
        color: #666;
    }

    .wrap-sub-container .substance li {
        overflow: hidden;
        padding: 3px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .wrap-sub-container .substance span {
        margin-right: 20px;
    }

    .wrap-sub-container .substanceNoborder {
        padding: 5px;
        color: #666;
    }

    .wrap-sub-container .table-ver {
        width: 100%;
        border-top: 2px solid #44446f;
    }

    .wrap-sub-container .table-ver tr:after {
        content: "";
        display: block;
        clear: both;
    }

    .wrap-sub-container .table-ver th {
        float: left;
        width: 40%;
        padding: 10px 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        text-align: left;
        background-color: #f2f2f5;
    }

    .wrap-sub-container .table-ver td {
        float: left;
        width: 60%;
        padding: 10px 15px;
        box-sizing: border-box;
        color: #666;
        word-break: break-all;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .wrap-sub-container .table-ver td span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .wrap-sub-container .table-ver-white {
        width: 100%;
        border-top: 2px solid #44446f;
        line-height: 26px;
    }

    .wrap-sub-container .table-ver-white tr:after {
        content: "";
        display: block;
        clear: both;
    }

    .wrap-sub-container .table-ver-white th {
        float: left;
        width: 25%;
        padding: 10px 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        text-align: left;
    }

    .wrap-sub-container .table-ver-white td {
        float: left;
        width: 75%;
        padding: 10px 15px;
        box-sizing: border-box;
        color: #666;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .wrap-sub-container .table-ver-white td span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .wrap-sub-container .table-ver-white2 {
        width: 100%;
        border-top: 2px solid #44446f;
        line-height: 1.5em;
    }

    .wrap-sub-container .table-ver-white2 tr:after {
        content: "";
        display: block;
        clear: both;
    }

    .wrap-sub-container .table-ver-white2 th {
        float: left;
        width: 25%;
        padding: 10px 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        text-align: left;
    }

    .wrap-sub-container .table-ver-white2 td {
        float: left;
        width: 75%;
        padding: 10px 15px;
        box-sizing: border-box;
        color: #666;
        border-bottom: 1px solid #ccc;
    }

    .wrap-sub-container .table-ver-white2 td span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .wrap-sub-container .pagination {
        clear: both;
        display: block;
        margin: 20px 0;
        text-align: center;
    }

    .wrap-sub-container .pagination ul {
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;
    }

    .wrap-sub-container .pagination ul li {
        float: left;
        width: 20px;
        height: 25px;
        margin: 0 2px;
    }

    .wrap-sub-container .pagination ul li button {
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: #666;
    }

    .wrap-sub-container .pagination ul li.current button {
        font-weight: bold;
        color: #00005d;
    }

    .wrap-sub-container .btn-first {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_first_m.png") no-repeat center center;
        background-size: 13px 9px;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-prev {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_prev_m.png") no-repeat center center;
        background-size: 7px 9px;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-next {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_next_m.png") no-repeat center center;
        background-size: 7px 9px;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-last {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_last_m.png") no-repeat center center;
        background-size: 13px 9px;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .tabstyle {
        border-top: 2px solid #44446f;
        border-left: 1px solid #cfdfdf;
    }

    .wrap-sub-container .tabstyle li {
        border: 1px solid #cfcfcf;
        border-left: none;
        border-top: none;
    }

    .wrap-sub-container .tabstyle li a {
        display: block;
        margin: 0 24px;
        line-height: 55px;
        font-weight: bold;
        color: #666;
        background: url("../../img/eios/sub_img/img_tabstyle_m.png") no-repeat right center;
        background-size: 7px 13px;
    }

    .wrap-sub-container .tabstyle li:hover {
        background-color: #336fb5;
    }

    .wrap-sub-container .tabstyle li:hover a {
        color: #fff;
        background: url("../../img/eios/sub_img/img_tabstyle_current_m.png") no-repeat right center;
        background-size: 7px 13px;
    }

    .wrap-sub-container .datepicker {
        background: url("../../img/eios/sub_img/btn_date_m.png") no-repeat 97% center;
        background-size: 22px 22px;
        background-color: #fff;
    }

    /* 지도서비스:사용예제화면 */
    .wrap-sub-container .wrap-map-content {
        width: 100%;
        height: 100%;
    }

    .wrap-sub-container .map-service {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 285px;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        background-color: #fff;
    }

    .wrap-sub-container .btn-mapService {
        position: absolute;
        right: -15px;
        top: 50%;
        margin-top: -33px;
        width: 15px;
        height: 67px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/btn_mapservice.png") no-repeat;
    }

    .wrap-sub-container .btn-mapService.on {
        background: url("../../img/eios/sub_img/btn_mapservice_on.png");
    }

    .wrap-sub-container .map-title {
        position: relative;
        padding: 5px 5px 2px;
        border-bottom: 1px solid #888;
    }

    .wrap-sub-container .map-service .logo {
        height: 50px;
        text-indent: -9999px;
        background: url("../../img/molit_logo_2.gif") no-repeat left top;
    }

    .wrap-sub-container .map-service h1 {
        position: absolute;
        left: 90px;
        bottom: 2px;
        width: 150px;
        height: 27px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/main_title.png") no-repeat;
    }

    .wrap-sub-container .map-service h2 {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 36px;
        text-align: center;
        background-color: #336fb5;
    }

    .wrap-sub-container .map-service h3 {
        border: 1px solid #cdcdcd;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 34px;
        text-align: center;
        background-color: #e0e0e0;
    }

    .wrap-sub-container .map-service .layerMenu_btn h3 {
        border: 1px solid #cdcdcd;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
        background: url('../../img/common/ico_arrow_b.gif') no-repeat 253px 14px;
        background-size: 12px 7px;
        background-color: #e0e0e0;
    }

    .wrap-sub-container .servieContent {
        padding: 10px;
    }

    .wrap-sub-container .map-serviceList {
        font-size: 13px;
        color: #555;
    }

    .wrap-sub-container .map-serviceList li {
        float: left;
        width: 50%;
        padding: 4px 0;
    }

    .wrap-sub-container .map-service input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .wrap-sub-container .map-service input[type="radio"] {
        vertical-align: middle;
    }

    .wrap-sub-container .servieContent table {
        width: 100%;
        line-height: 26px;
    }

    .wrap-sub-container .servieContent table th {
        padding: 3px 5px;
        font-size: 13px;
        color: #666;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .wrap-sub-container .area-map {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrap-sub-container .area-mapControl {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        border: 1px solid #aaabad;
        border-top: none;
        text-align: center;
        background-color: #f4f4f4;
    }

    .wrap-sub-container .area-mapControl button {
        padding: 7px;
        margin: 0 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px;
        color: #fff;
        background-color: #a0a0a0;
    }

    .wrap-sub-container .area-mapControl button.current {
        font-weight: bold;
        background-color: #1365a3;
    }

    .wrap-sub-container .sub-api-popup {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0;
        /* left:50%;top:50%;margin-left:-152px;margin-top:-100px; */
        z-index: 9999;
        width: 95%;
        margin: 0 auto;
        box-sizing: border-box;
        border: 2px solid #336fb5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
    }

    .wrap-sub-container .sub-api-popup h1 {
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 34px;
        background-color: #336fb5;
    }

    .wrap-sub-container .sub-api-popup .btn-pop-close {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 14px;
        height: 13px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/btn_pop_close_m.png") no-repeat;
        background-size: 14px 13px;
    }

    .wrap-sub-container .sub-api-popup .sub-api-popCont {
        padding: 10px;
    }

    .wrap-sub-container .sub-api-popup .pop-articlebox {
        overflow: auto;
        height: 135px;
        padding: 5px;
        border: 1px solid #ccc;
        line-height: 1.4em;
        background-color: #f2f1f6;
    }

    /* button */
    .wrap-sub-container .btn-search {
        padding: 8px 15px 8px 30px;
        font-size: 14px;
        color: #fff;
        background: url("../../img/eios/sub_img/btn_search_m.png") no-repeat 10px center;
        background-size: 13px 13px;
        background-color: #878787;
    }

    /* .btn-date{width:22px;height:34px;margin-left:3px;background:url("../../img/eios/sub_img/btn_date_m.png") no-repeat center center;background-size:22px 22px;text-indent:-9999px;} */
    .wrap-sub-container .btn-down2 {
        width: 30px;
        height: 20px;
        background: url("../../img/eios/sub_img/btn_down2_m.png") no-repeat center center;
        background-size: 14px 13px;
        background-color: #36ba81;
        text-indent: -9999px;
    }

    .wrap-sub-container .btn-search.m-w100p {
        background-position: 40% center;
    }
}

/* ---------------------------------------------------- for PC  ------------------------------------------------------------------- */
@media only screen and (min-width: 641px) {
    .wrap-sub-container .w460 {
        width:460px;
    }

    /* layout */
    .wrap-sub-container .sub-container {
        width: 1100px;
        margin: 0 auto;
    }

    .wrap-sub-container .lnb {
        position: absolute;
        width: 180px;
    }

    .wrap-sub-container .sub-content {
        position: relative;
        margin-left: 180px;
        padding: 38px 24px 20px;
        min-height: 740px;
    }

    /* wrap-sub-container */
    .wrap-sub-container .lnb h1 {
        margin: 0;
        width: 180px;
        height: 71px;
        padding: 29px 0 0 0px;
        font-size: 19px;
        font-weight: bold;
        letter-spacing: -1px;
        color: #fff;
        text-align: center;
        background: #349bde;
        ;line-height: 1em !important;
    }

    .wrap-sub-container .lnb>ul {
        border: 1px solid #dcdcdc;
        border-bottom: none;
        border-right: none;
    }

    .wrap-sub-container .lnb>ul>li {
        position: relative;
        border-bottom: 1px solid #dcdcdc;
    }

    .wrap-sub-container .lnb>ul>li>a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 11px;
        line-height: 46px;
        font-size: 15px;
        font-family: "NanumBold";
        color: #000;
    }

    .wrap-sub-container .lnb>ul>li.current>a {
        color: #336fb5;
    }

    .wrap-sub-container .lnb ul ul {
        padding: 4px 10px;
        border-top: 1px solid #dcdcdc;
    }

    .wrap-sub-container .lnb ul ul a {
        width: 100%;
        padding: 0 11px;
        box-sizing: border-box;
        line-height: 22px;
        font-size: 13px;
        color: #666;
    }

    .wrap-sub-container .lnb ul ul li.current a {
        color: #336fb5;
    }

    .wrap-sub-container .lnb h4 {
        padding-left: 16px;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #525252;
        background: url("../../img/eios/sub_img/img_h4.png") no-repeat left center;
    }

    .wrap-sub-container .btn-openDepth {
        display: none;
    }

    .wrap-sub-container .sub-content {
        border-left: 1px solid #dcdcdc;
    }

    .wrap-sub-container .sub-content h2 {
        margin-bottom: 21px;
        font-size: 31px;
        color: #292929;
    }

    .wrap-sub-container .sub-content h3 {
        padding-left: 26px;
        margin-bottom: 12px;
        font-size: 18px;
        color: #333;
        background: url("../../img/eios/sub_img/img_h3.png") no-repeat left center;
    }

    .wrap-sub-container .sub-content h4 {
        padding-left: 16px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #525252;
        background: url("../../img/eios/sub_img/img_h4.png") no-repeat left center;
    }

    .wrap-sub-container .singlebox {
        padding: 5px 10px;
        margin-bottom: 25px;
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
        font-size: 14px;
        background-color: #f4f4f4;
    }

    .wrap-sub-container .singlebox table {
        width: 100%;
    }

    .wrap-sub-container .singlebox table th {
        padding: 5px 10px;
        font-weight: bold;
        color: #666;
    }

    .wrap-sub-container .singlebox table td {
        padding: 5px 0;
    }

    .wrap-sub-container .singlebox select, .singlebox input[type="text"] {
        padding: 7px 10px;
        line-height: 1em;
    }

    .wrap-sub-container .substance.line {
        border-top: 2px solid #44446f;
    }

    .wrap-sub-container .substance {
        padding: 5px;
        color: #666;
    }

    .wrap-sub-container .substance li {
        overflow: hidden;
        padding: 3px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .wrap-sub-container .substance span {
        margin-right: 20px;
    }

    .land-img {
        position: relative;
        border-top: 1px dashed #eaeaea;
        overflow: hidden;
        padding: 10px;
    }

    .land-img .substance {
        float: right;
        width: 670px;
    }

    .land-img .img {
        display: block;
        float: left;
        margin-left: 10px;
        padding: 8px 0 0 0;
    }

    .land-img .img img {
        width: 150px;
        height: 110px;
        border: 1px solid black;
        border-radius: 7px;
    }

    .land-img span {
        padding: 0 !important;
        margin: 0 !important;
    }

    .land-img .highlight {
        color: #336fb5;
        text-decoration: underline;
        font-size: 16px;
    }

    .land-img .title {
        font-size: 16px;
    }

    .landcase {
        border-top: 1px dashed #eaeaea;
        padding-top: 20px;
    }

    .wrap-sub-container .table-ver {
        width: 100%;
        border-top: 2px solid #44446f;
    }

    .wrap-sub-container .table-ver th {
        height: 45px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        text-align: left;
        background-color: #f2f2f5;
    }

    .wrap-sub-container .table-ver th:first-child {
        border-left: none;
    }

    .wrap-sub-container .table-ver td {
        padding: 10px 15px;
        color: #666;
        border-bottom: 1px solid #ccc;
    }

    .wrap-sub-container .table-ver-white {
        width: 100%;
        border-top: 2px solid #44446f;
    }

    .wrap-sub-container .table-ver-white th {
        padding: 10px 15px;
        border: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        text-align: left;
    }

    .wrap-sub-container .table-ver-white th:first-child {
        border-left: none;
    }

    .wrap-sub-container .table-ver-white td {
        padding: 10px 15px;
        color: #666;
        border-bottom: 1px solid #ccc;
    }

    .wrap-sub-container .table-ver-white2 {
        width: 100%;
        border-top: 2px solid #44446f;
        line-height: 1.5em;
    }

    .wrap-sub-container .table-ver-white2 th {
        padding: 10px 15px;
        border-bottom: 1px solid #ededed;
        font-weight: bold;
        color: #666;
        text-align: left;
    }

    .wrap-sub-container .table-ver-white2 td {
        padding: 10px 15px;
        color: #666;
        border-bottom: 1px solid #ededed;
    }

    .wrap-sub-container .pagination {
        clear: both;
        display: block;
        margin: 20px 0;
        text-align: center;
    }

    .wrap-sub-container .pagination ul {
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;
    }

    .wrap-sub-container .pagination ul li {
        float: left;
        width: 20px;
        height: 25px;
        margin: 0 2px;
    }

    .wrap-sub-container .pagination ul li button {
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: #666;
    }

    .wrap-sub-container .pagination ul li.current button {
        font-weight: bold;
        color: #00005d;
    }

    .wrap-sub-container .btn-first {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_first.png") no-repeat center center;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-prev {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_prev.png") no-repeat center center;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-next {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_next.png") no-repeat center center;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .btn-last {
        width: 27px;
        height: 27px;
        margin: 0 1px;
        border: 1px solid #e3e5e7;
        background: url("../../img/eios/sub_img/btn_last.png") no-repeat center center;
        text-indent: -9999px;
        vertical-align: top;
    }

    .wrap-sub-container .tabstyle {
        border-top: 2px solid #44446f;
        border-left: 1px solid #cfdfdf;
    }

    .wrap-sub-container .tabstyle li {
        float: left;
        width: 33.333333%;
        box-sizing: border-box;
        border: 1px solid #cfcfcf;
        border-left: none;
        border-top: none;
    }

    .wrap-sub-container .tabstyle li a {
        display: block;
        margin: 0 24px;
        line-height: 55px;
        font-weight: bold;
        color: #666;
        background: url("../../img/eios/sub_img/img_tabstyle.png") no-repeat right center;
    }

    .wrap-sub-container .tabstyle li:hover {
        background-color: #336fb5;
    }

    .wrap-sub-container .tabstyle li:hover a {
        color: #fff;
        background: url("../../img/eios/sub_img/img_tabstyle_current.png") no-repeat right center;
    }

    .wrap-sub-container .datepicker {
        background: url("../../img/eios/sub_img/btn_date.png") no-repeat 97% center;
        background-color: #fff;
    }

    /* 지도서비스:사용예제화면 */
    .wrap-sub-container .wrap-map-content {
        width: 100%;
        height: 100%;
    }

    .wrap-sub-container .map-service {
        position: absolute;
        left: 0;
        top: 0;
        height: 920px;
        z-index: 999;
        width: 302px;
        background-color: #fff;
    }

    .wrap-sub-container .btn-mapService {
        position: absolute;
        right: -15px;
        top: 50%;
        width: 15px;
        height: 67px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/btn_mapservice.png") no-repeat;
    }

    .wrap-sub-container .map_wrap {
        height: 600px;
        overflow: auto;
        overflow-x: hidden;
    }

    .wrap-sub-container .btn-mapService.on {
        background: url("../../img/eios/sub_img/btn_mapservice_on.png");
    }

    .wrap-sub-container .map-title {
        position: relative;
        padding: 5px 5px 2px;
        border-bottom: 1px solid #888;
    }

    .wrap-sub-container .map-service .logo {
        height: 50px;
        text-indent: -9999px;
        background: url("../../img/molit_logo_2.gif") no-repeat left top;
    }

    .wrap-sub-container .map-service h1 {
        position: absolute;
        left: 90px;
        bottom: 2px;
        width: 150px;
        height: 27px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/main_title.png") no-repeat;
    }

    .wrap-sub-container .map-service h2 {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 36px;
        text-align: center;
        background-color: #336fb5;
    }

    .wrap-sub-container .map-service h3 {
        border: 1px solid #cdcdcd;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 34px;
        text-align: center;
        background-color: #e0e0e0;
    }

    .wrap-sub-container .map-service .layerMenu_btn h3 {
        border: 1px solid #cdcdcd;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
        background: url('../../img/common/ico_arrow_b.gif') no-repeat 253px 14px;
        background-size: 12px 7px;
        background-color: #e0e0e0;
    }

    .wrap-sub-container .servieContent {
        padding: 10px;
    }

    .wrap-sub-container .map-serviceList {
        font-size: 13px;
        color: #555;
    }

    .wrap-sub-container .map-serviceList li {
        float: left;
        width: 50%;
        padding: 4px 0;
    }

    .wrap-sub-container .map-service input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .wrap-sub-container .wrap-sub-container .map-service input[type="radio"] {
        vertical-align: middle;
    }

    .wrap-sub-container .servieContent table {
        width: 100%;
        line-height: 26px;
    }

    .wrap-sub-container .servieContent table th {
        padding: 3px 5px;
        font-size: 13px;
        color: #666;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .wrap-sub-container .area-map {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrap-sub-container .area-mapControl {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        border: 1px solid #aaabad;
        border-top: none;
        background-color: #f4f4f4;
    }

    .wrap-sub-container .area-mapControl button {
        padding: 5px;
        margin: 0 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        background-color: #a0a0a0;
    }

    .wrap-sub-container .area-mapControl button.current {
        font-weight: bold;
        background-color: #1365a3;
    }

    .wrap-sub-container .sub-api-popup {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -152px;
        margin-top: -100px;
        z-index: 9999;
        width: 315px;
        box-sizing: border-box;
        border: 2px solid #336fb5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
    }

    .wrap-sub-container .sub-api-popup h1 {
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 34px;
        background-color: #336fb5;
    }

    .wrap-sub-container .sub-api-popup .btn-pop-close {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 14px;
        height: 13px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/btn_pop_close.png") no-repeat;
    }

    .wrap-sub-container .sub-api-popup .sub-api-popCont {
        padding: 10px;
    }

    .wrap-sub-container .sub-api-popup .pop-articlebox {
        overflow: auto;
        height: 135px;
        padding: 5px;
        border: 1px solid #ccc;
        line-height: 1.4em;
        background-color: #f2f1f6;
    }

    /* button */
    .wrap-sub-container .btn-search {
        padding: 8px 15px 8px 30px;
        font-size: 14px;
        color: #fff;
        background: url("../../img/eios/sub_img/btn_search.png") no-repeat 10px center;
        background-color: #878787;
    }

    /* .btn-date{width:22px;height:34px;margin-left:3px;background:url("../../img/eios/sub_img/btn_date.png") no-repeat center center;text-indent:-9999px;} */
    .wrap-sub-container .btn-down2 {
        width: 30px;
        height: 20px;
        background: url("../../img/eios/sub_img/btn_down2.png") no-repeat center center;
        background-color: #36ba81;
        text-indent: -9999px;
    }

    .wrap-sub-container .btn-search.w100p {
        background-position: 40% center;
    }

    .wrap-sub-container .btn-general {
        margin: 0px 5px 0px 5px;
        padding: 8px 30px 8px 30px;
        font-size: 14px;
        color: #fff;
        background-size: 13px 13px;
        background-color: #878787;
    }

    .wrap-sub-container .btn-general.m-w100p {
        background-position: 40% center;
    }

    /* 지도서비스:범례 */
    .wrap-sub-container .map-service-legend {
        position: absolute;
        top: 200px;
        right: 20px;
        width: 300px;
        border: 1px solid #888;
        border-bottom: 1px solid #888;
        background-color: #fff;
    }

    .wrap-sub-container .map-title-legend {
        position: relative;
        padding: 5px 5px 2px;
        border-bottom: 1px solid #888;
    }

    .wrap-sub-container .map-service-legend .logo {
        height: 50px;
        text-indent: -9999px;
        background: url("../../img/molit_logo_2.gif") no-repeat left top;
    }

    .wrap-sub-container .map-service-legend h1 {
        position: absolute;
        left: 90px;
        bottom: 2px;
        width: 150px;
        height: 27px;
        text-indent: -9999px;
        background: url("../../img/eios/sub_img/main_title.png") no-repeat;
    }

    .wrap-sub-container .map-service-legend h2 {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 36px;
        background-color: #336fb5;
    }

    .wrap-sub-container .map-service-legend h3 {
        border: 1px solid #cdcdcd;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 34px;
        text-align: center;
        background-color: #e0e0e0;
    }

    .wrap-sub-container .servieContent-legend {
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .wrap-sub-container .map-serviceList-legend {
        font-size: 13px;
        color: #555;
    }

    .wrap-sub-container .map-serviceList-legend li {
        padding: 4px 0;
        padding-left: 17px;
    }

    .wrap-sub-container .map-serviceList-legend .legend-nm {
        font-weight: bold;
        width: 260px;
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 15px;
        padding-left: 0px;
    }

    .wrap-sub-container .servieContent-legend table {
        width: 100%;
        line-height: 26px;
    }

    .wrap-sub-container .servieContent-legend table th {
        padding: 3px 5px;
        font-size: 13px;
        color: #666;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .wrap-sub-container .servieContent-legend .legend-color {
        display: inline-block;
        width: 1.0em;
        height: 1.0em;
        margin: 1px 0;
        font-size: 100%;
        text-align: center;
    }

    .wrap-sub-container .btn-mapService-legend {
        position: absolute;
        margin-top: 0px;
        top: 7px;
        right: 15px;
        width: 20px;
        height: 20px;
        border: 1px solid #dcdcdc;
        background: url("../../img/eios/sub_img/btn_open_close_m.png") no-repeat center center;
        background-size: 12px 12px;
        background-color: #fff;
        text-indent: -9999px;
    }

    .wrap-sub-container .btn-mapService-legend.on {
        background: url("../../img/eios/sub_img/btn_open_m.png") no-repeat center center;
        background-size: 12px 12px;
        background-color: #fff;
    }

    /*  tab */
    .tab-wrap {
        position: relative;
        overflow: hidden;
        min-height: 50px;
        margin-bottom: 20px;
    }

    .page-tab-box {
        position: relative;
        width: 100%;
    }

    .page-tab-box.full-tab {
        position: relative;
        width: 100%;
    }

    .page-tab-box td {
        border: 1px solid #cccccc;
        background: #f9f9f9;
        padding: 0;
        font-size: 15px;
        text-align: center;
    }

    .page-tab-box td:first-child {
        border-left: 1px solid #c9d5e4;
    }

    .page-tab-box td a {
        display: block;
        padding: 13px 0 15px 0;
        width: 100%;
        position: relative;
        color: #336fb5;
        box-sizing: border-box;
        height: 44px;
    }

    .page-tab-box td.focus {
        background: #5fbcf5;
        font-family: "NanumBold"
    }

    .page-tab-box td.focus a {
        color: #ffffff;
    }

    .page-tab-box td.focus a:hover {
        background: #5fbcf5;
    }

    .page-tab-box td a:hover {
        background: #edeeed;
    }

    .page-tab-box td.empty {
        background: #ffffff;
        border-top: none;
        border-right: none;
    }

    .page-tab-box td.empty:hover {
        background: #ffffff;
    }

    .page-tab-box td.empty2 {
        background: #ffffff;
    }

    .page-tab-box td.empty2:hover {
        background: #ffffff;
    }

    /* 연혁 */
    .his-wrap {
        width: 800px;
        margin: 30px auto;
    }

    .jwxe_div {
        position: relative;
        overflow: hidden;
    }

    h4.jwxe_h {
        display: block;
        float: left;
        padding: 0 !important;
        background: none !important;
    }

    .jwxe_html {
        display: block;
        float: left;
        line-height: 18px;
        margin-left: 50px;
    }

    .jwxe_div .jwxe_img {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    .tri_list li {
        background: url('../../img/eios/sub_img/bull_dot.gif') no-repeat 0 10px ;
        padding: 0 0 0 8px;
        font-size: 12px;
        line-height: 22px;
    }

    .tri_list2 li {
        background: url('../../img/eios/sub_img/bull_dot.gif') no-repeat 0 10px ;
        padding: 0 0 0 8px;
        font-size: 14px;
        line-height: 27px;
    }

    .tri_list li.no_back {
        background: none;
        padding-left: 0
    }

    .his-wrap .line-img {
        text-align: center;
        padding: 50px 0 10px 0
    }

    .pd_left15 {
        padding: 0 0 0 15px;
    }

    .pd_left82 {
        padding: 0 0 0 74px;
    }

    .vision-bg {
        width: 830px;
        margin: 0 auto;
        overflow: hidden;
        padding: 30px;
        background-color: #fbfbfc;
        border-radius: 20px;
    }

    .vision-bg li {
        text-align: center;
    }

    .go_button {
        position: relative;
        height: 40px;
    }

    .fla-btn-cont {
        box-sizing: border-box;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .btn-n-type03 {
        background-color: #336FB5;
        border: 1px solid #336FB5;
        border-radius: 7px;
        box-sizing: border-box;
        color: #FFFFFF !important;
        display: inline-block;
        font-size: 13px;
        height: 30px;
        line-height: 18px;
        padding: 5px 20px;
        text-align: center;
    }

    .btn-n-type03:hover {
        background-color: #336FB5;
        border: 1px solid #336FB5;
        border-radius: 7px;
        box-sizing: border-box;
        color: #FFFFFF !important;
        display: inline-block;
        font-size: 13px;
        height: 30px;
        line-height: 18px;
        padding: 5px 20px;
        text-align: center;
    }

    .img-box1 p {
        line-height: 24px;
        font-size: 14px;
    }

    .img-box1 {
        position: relative;
        width: 870px;
        margin: 0 auto;
    }

    .img-box1 .map-txt {
        display: block;
        text-align: center;
        padding: 30px 0 50px 0;
    }

    .img-box1 .float-l-box {
        position: relative;
        overflow: hidden;
    }

    .img-box1 .float-l-box .img {
        display: block;
        float: left;
        width: 350px;
    }

    .img-box1 .float-l-box h4 {
        width: 500px;
        float: left;
        margin-top: 20px;
    }

    .img-box1 .float-l-box .tri_list2 {
        width: 500px;
        float: left;
    }

    .img-box1 .float-r-box {
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    }

    .img-box1 .float-r-box .img {
        display: block;
        float: right;
        width: 300px;
    }

    .img-box1 .float-r-box h4 {
        width: 400px;
        float: left;
        margin-top: 20px;
    }

    .img-box1 .float-r-box p {
        width: 500px;
        float: left;
    }

    .highlight-box {
        border: 1px solid #eaeaea;
        background-color: #fbfbfb;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        color: #336fb5;
        font-family: "NanumBold";
    }

    /* 비밀번호찾기 css  */
    .btn_join_pwdcheck li span {
        display: inline-block;
        padding: 3px 0 3px 8px;
        background: url('../images/common/icon/icon_li.gif') no-repeat 0 15px;
        width: 280px;
        line-height: 25px;
    }

    .btn_join_pwdcheck li a {
        font-size: 12px;
        color: #fff !important;
        padding: 4px 10px 6px 10px !important;
        line-height: 15px;
        background-color: #336fb5;
        border-radius: 5px;
        width: 120px;
        display: inline-block;
        text-align: center;
    }